<header class="lp-header" role="banner">
  <div class="lp-header__inner container">
    <a class="lp-header__brand" href="#top" aria-label="Úvod stránky">
      <img class="lp-header__logo" src="https://haklweb.b-cdn.net/ULOV_KLIENTA/New%20Project.webp" alt="ULOV KLIENTY" width="500" height="220" decoding="async">
    </a>
    <a class="lp-header__home" href="{{ baseUrl }}index.html">Domů</a>
  </div>
</header>
