<header class="lp-header" role="banner">
  <div class="lp-header__inner container">
    <a class="lp-header__brand" href="#top" aria-label="Úvod stránky">
      <img class="lp-header__logo" src="https://haklweb.b-cdn.net/ULOV_KLIENTA/New%20Project.webp" alt="ULOV KLIENTY" width="500" height="220" decoding="async">
    </a>
    <nav class="lp-header__nav" aria-label="Navigační menu">
      <a class="lp-header__link" href="{{ baseUrl }}index.html">Domů</a>
      <a class="lp-header__link" href="#poptavka-webu">Poptávka</a>
      <a class="lp-header__link" href="{{ baseUrl }}clanky.html">Články</a>
      <a class="lp-header__link lp-header__link--accent" href="tel:+420719756746">+420 719 756 746</a>
    </nav>
  </div>
</header>
